
.xsLogoImage{
    display: none;
    margin-right: 0.6vw;
}

.mdLogoImage {
    display: flex;
    margin-right: 0.6vw;
}

@media screen and (min-width: 1024px){
    .xsLogoImage {
      display: flex;
    }
}
@media screen and (min-width: 768px){
    .mdLogoImage{
        display: none;
    }
}

.logoName{
    font-weight: 1000;
    letter-spacing: .2rem;
    margin-right: 2;
    text-decoration: none;
    color: inherit;
}

.logoName2{
    font-weight: 700;
    letter-spacing: .3rem;
    margin-right: 2;
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
}