@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-vhidden {
  @apply hidden;
}
/* Custom global styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  * {
    @apply border-border;
  }
  body {
    margin: 0;
    padding: 0;
    @apply bg-background text-foreground;
  }
  :root {
    /* Base Colors */
    --background: 126 14% 76%; /* #b6cfb8 */
    --foreground: 226 7% 51%; /* grayDark */

    /* Primary and Secondary Colors */
    --primary: 86 20% 48%; /* greenDark */
    --primary-foreground: 0 0% 100%; /* white */
    --secondary: 42 91% 82%; /* yellowLight */
    --secondary-foreground: 0 0% 0%; /* black */

    /* Accent and Muted Colors */
    --accent: 197 98% 45%; /* blueDark */
    --accent-foreground: 0 0% 100%; /* white */
    --muted: 227 8% 66%; /* grayMedium */
    --muted-foreground: 226 7% 51%; /* grayDark */

    /* Border, Input, and Ring Colors */
    --border: 227 8% 66%; /* grayMedium */
    --input: 227 8% 66%; /* grayMedium */
    --ring: 86 20% 48%; /* greenDark */

    /* Custom Colors */
    --yellow-light: 42 91% 82%;
    --yellow-medium: 43 91% 73%;
    --yellow-dark: 43 100% 48%;
    --blue-light: 199 83% 81%;
    --blue-medium: 199 78% 70%;
    --blue-dark: 197 98% 45%;
    --beige-light: 30 58% 88%;
    --beige-medium: 30 19% 70%;
    --beige-dark: 30 9% 52%;
    --green-light: 86 28% 81%;
    --green-medium: 86 17% 66%;
    --green-dark: 86 20% 48%;
    --gray-light: 222 11% 82%;
    --gray-medium: 227 8% 66%;
    --gray-dark: 226 7% 51%;

    /* Other Variables */
    --radius: 0.5rem;
    --font-varela-round: 'Varela Round', sans-serif;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* Custom component styles */
@layer components {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .small-caps {
    font-variant: small-caps;
  }
}
