.backGroundGrid{
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    flex-wrap: nowrap;
}

.backGroundGrid img{
    max-width: 15vw;
}

.form{
    display: grid;
    gap: 8px;
    width: 600px;
}

.p {
    font-variant-caps: petite-caps;
    text-align-last: center;
}