.containerBox{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centerBox{
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 660px;
    align-items: center;
}

.text {
    text-align: center;
}

.link{
    text-decoration: none;
    border-radius: 8px;
    height: 4vh;
    width: 20vw;
    justify-content: center;
    display: flex;
    align-items: center;
}
.link:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}