
$firstRootColor: #FBE5A8;
$secondRootColor: #F8D77C;
$thirdRootColor: #F4B400;

$firstBlueColor: #A5DCF6;
$secondBlueColor: #78C7EE;
$thirdBlueColor: #039BE5;

$firstBeigeColor: #F2DECC;
$secondBeigeColor: #C2B2A3;
$thirdBeigeColor: #91857A;